.card {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: -12px 10px 14px -6px black;
    transform: rotateY(180deg);
    overflow: hidden;
}

.card.visible {
    transform: rotateY(0);
    transition: transform 400ms;
}

.card img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.card p {
    margin: auto;
}